:root {
    --1: #FDFDFE;
    --2: #05255B;
    --3: #333233;
    --4: #1090CF;
    --5: #B8C2C9;
    --6: #717782;
    }


* {
    /* margin: 0;   En bootstrap no hace falta
    padding: 0; */
    /* box-sizing: content-box; */
   /* border: 1px solid red; */
}

h1 {
    width: 100%;
    background: var(--2);
    color: var(--1);
    padding: 4px;
    margin: 0;
    margin-bottom: 4px;
}

.card-header {
    background: var(--2);
    color: var(--1);
}

.mision {
    max-width: 900px;
    max-height: 400px;
    overflow: auto;

}

.whatsapp {
    display: inline-block;
    position: fixed;
    bottom: 5%;
    left: 90%;
    /* border: 1px solid red; */
}

.whatsapp img {
    width: 75px;
    aspect-ratio: 1;
}
