* {
    /* margin: 0;   En bootstrap no hace falta
    padding: 0; */
    /* box-sizing: content-box; */
   /* border: 1px solid red; */
}

body {
    /* background: blue; */
}



/* img {
    width: 100px;
    aspect-ratio: 1;
} */


/*
img {
    width: 100px;
    height: 100px;
}

body {
    width: 100vw;
    height: 100vh;
} */